/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Global Elements */
html {
    box-sizing: border-box;
}    

*, *:before,*:after {
    box-sizing: inherit;
}

body {
    background: #fff;
    font-family:'Libre Franklin', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}

header {
    margin: 1em 0;
}

h1, h2 {
    color: #a500ff;
    font-weight: bold;    
}

/* Mobile Viewport */

/* Mobile Header */
.mobileHead {
    margin: 0 auto;
    width: 20%;
} 

/* Mobile Navigation */
#desktopNav {
    display: none;
}

#mobileNav {
    margin: 1.5em 0;
}

#mobileNav ul {
    display: inline-grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(2, 50%);
}

#mobileNav nav ul li {
    padding: 1em;
    list-style: none;
}

nav a {
    padding: .50em;
    color: #a500ff;
    font-size: 1.5em;
}

/* Mobile Main */
main {
    margin: 0 1em;
    font-size: 1.50em;
    text-align: center;
}

/* Mobile Footer */
footer {
    margin: 2em 0;
}

footer p {
    font-size: 0.75em;
    font-weight: bold;
    color: #a500ff;
}

.socialBox {
    gap: 1em;
    margin: 1em 0;
    display: inline-grid;
    justify-content: center;
    grid-template-rows: 2, 50%;
    grid-template-columns: repeat(4, 15%);
}

.socialBox img {
    width: 100%;
}

/* Mobile Home Page */
.homeImage {
    display: block;
    justify-content: center;
}

.homeImage img {
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Mobile About Page */
.photoGrid {
    margin: 1em 0;
}

.photoGrid img {
    width: 30%;
}

.endproject {
    width: 50%;
    display: inline-block;
}

#epk {
    text-align: left;
}

#epk h2 {
    text-align: center;
}

/* Mobile Audio Page */
#contentColumn {
    display: grid;
    align-items: center;
    row-gap: 1em;
}

.musicContainer {
    display: block;
}

.musicArt img {
    width: 80%;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    font-size: 16px;
}

/* Mobile Videos Page */
.videoColumn {
    display: inline-grid;
    justify-content: center;
}

iframe {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
}

/* Mobile Images */
img {
    max-width: 100%;
    height: auto;
}

/* Desktop viewport */
@media only screen and (min-width: 992px) {

    /* Desktop Header */
    header {
        width: auto;
        height: auto;
    }

    header img {
        width: 10%;
    }

    .mobileHead {
        display: none;
    }

    /* Desktop Navigation */
    #mobileNav {
        display: none;
    }

    #desktopNav {
        width: 100%;
        position: relative;
        display: inline-block;
    }
    
    #desktopNav ul li a:hover {
        color: #4E0078;
    }
    
    .logo {
        width: 300px;
        height: 300px;
        position: absolute;
        left: 50%;
        top: 0;
        content: "";
        margin-left: -150px;
    }
    
    .logo img {
        width: 50%;
        padding-top: 10px;
    }
    
    .desktopNavBar ul {
        margin: 0 auto;
        padding: 0;
        padding-top: 60px;
        width: 650px;
        text-align: right;
    }
    
    .desktopNavBar ul li {
        margin: 0;
        padding: 1;
        list-style: none;
        float: none;
        display: inline-block;
    
        font-size: 1.50em;
        list-style-type: none;
        padding: .80em;
    }
    
    .desktopNavBar ul li:nth-child(1) {
        float: left;
    }
    
    .desktopNavBar ul li:nth-child(2) {
        float: left;
    }
    
    .desktopNavBar ul li a {
        display: block;
        color:#a500ff;
    }

    /* Desktop Main */
    main {
        margin-top: 3em;
    }

    main h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    /* Desktop Home Page */
    .homeImage img {
        width: 30%;
    }

    /* Desktop About Page */
    .photoGrid {
        gap: 1em;
        display: grid;
        grid-template-rows: repeat(2);
        grid-template-columns: repeat(3, 15%);
        justify-content: center;
    }

    .photoGrid img {
        width: 100%;
    }

    .endproject img {
        width: 50%;
    }

    #epk {
        text-align: left;
        margin: auto 8em;
    }

    .epk-playlist {
        width: 1000px;
        height: 500px;
    }
    
    /* Desktop Audio Page */
    #contentColumn {
        display: grid;
        row-gap: 1em;
    }

    .musicContainer {
        width: 700px;
        margin: 0 auto;
    }

    .musicArt {
        display: inline;
    }

    .musicArt img {
        width: 60%;
        position: relative;
        float: left;
    }
    
    .title {
        display: block;
        font-size: .75em;
    }

    #contentColumn .musicContainer .title p {
        position: relative;
        top: 170px;
    }

    /* Desktop Videos Page */
    iframe {
        width: 560px;
        height: 315px;
        margin: 1em 0;
    }

    /* Desktop Footer */
    footer {
        margin: 2em 0;
        width: auto;
        height: auto;
    }

    footer p {
        font-size: .75em;
    }

    .socialBox {
        grid-template-rows: repeat(2, 40%);
        grid-template-columns: repeat(4, 4%);
    }
}

/* Tablet Viewport */
@media only screen and (min-width: 768px) {

    /* Tablet Viewport: Main Elements */
    nav a {
        font-size: 2em;
    }

    iframe {
        width:560px;
        height:315px;
    }

    .title {
        font-size: .75em;
        margin: 1em 0;
    }

    .endproject {
        width: 40%;
    }

    /* Tablet Footer */
    footer {
        width: auto;
        height: auto;
    }
}

/* Logo Animation */
#portal {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.spin {
    -webkit-animation: fade 12s linear infinite, spin 8s linear infinite;
    -moz-animation: fade 12s linear infinite, spin 8s linear infinite;
    animation: fade 12s linear infinite, spin 8s linear infinite;
}

.fade {
    -webkit-animation: fade 12s linear infinite;
    -moz-animation: fade 12s linear infinite;
    animation: fade 12s linear infinite;
}

@-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
}
  
@-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
}
  
@keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@-moz-keyframes fade {
    0% {opacity:0;}
    8.33% {opacity:1;}
    25% {opacity:1;}
    33.33% {opacity:0;}
    41.66% {opacity:1;}
    58.33% {opacity:1;}
    66.66% {opacity:0;}
    75% {opacity:1;}
    91.66% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes fade {
    0% {opacity:0;}
    8.33% {opacity:1;}
    25% {opacity:1;}
    33.33% {opacity:0;}
    41.66% {opacity:1;}
    58.33% {opacity:1;}
    66.66% {opacity:0;}
    75% {opacity:1;}
    91.66% {opacity:1;}
    100% {opacity:0;}
}

@keyframes fade {
    0% {opacity:0;}
    8.33% {opacity:1;}
    25% {opacity:1;}
    33.33% {opacity:0;}
    41.66% {opacity:1;}
    58.33% {opacity:1;}
    66.66% {opacity:0;}
    75% {opacity:1;}
    91.66% {opacity:1;}
    100% {opacity:0;}
}