/* CSS Reset */

body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Box sizing for all elements */

* {
    box-sizing: border-box;
}

#mainmenu {
    width: 100%;
    position: relative;
}

.logo {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 0;
    content: "";
    margin-left: -150px;
    text-align: center;
}

.logo img {
    width: 40%;
    padding-top: 30px;
}

.innermenu ul {
    margin: 0 auto;
    padding: 0;
    padding-top: 70px;
    width: 500px;
    text-align: right;
}

.innermenu ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: none;
    display: inline-block;

    font-size: 1em;
    font-family: 'Libre Franklin', sans-serif;
    list-style-type: none;
    padding: .80em;
}

.innermenu ul li:nth-child(1) {
    float: left;
}

.innermenu ul li:nth-child(2) {
    float: left;
}

.innermenu ul li a {
    color: #a500ff;
    text-decoration: none;
    display: block;
}