/* CSS Reset */

body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Box sizing for all elements */

* {
    box-sizing: border-box;
}

/* Mobile Viewport */

/* Style Rules for body and images */

body {
    background-color: #fff;
}

img {
    max-width: 100%;
    display: block;
}

h1, h2, h3 {
    display: block;
    color: #a500ff;    
}

/* Style rules for header */

header {
    background-color: #fff;
    height: 100px;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/* Style for rules for navigation */

nav {
    margin-bottom: .25em;
    margin-top: .5em;
    
}

nav ul {
    text-align: center;
}

nav li {
    font-size: 1.50em;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    margin: .25em;
    list-style-type: none;
}

nav li a {
    display: block;
    color: #a500ff;
    text-decoration: none;
}

a{
    text-decoration: none;
}

/* Style rules for main content */

main {
    background-color:#fff;
    font-size: 1.5em;
    font-family:'Libre Franklin', sans-serif;
    text-align: center;
    justify-content: center;
}

#musiclink {
    display: inline-grid;
    justify-content: center;
    width: 40%;
    row-gap: 2em;
}

#entry{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#mediatab {
    display: inline-grid;
    justify-content: center;
    width: 100%;
    row-gap: 2em;
}

.spin {
    -webkit-animation: fade 12s linear infinite, spin 4s linear infinite;
    -moz-animation: fade 12s linear infinite, spin 4s linear infinite;
    animation: fade 12s linear infinite, spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  
@-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
@keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes fade {
    0% {opacity:0;}
    8.33% {opacity:1;}
    25% {opacity:1;}
    33.33% {opacity:0;}
    41.66% {opacity:1;}
    58.33% {opacity:1;}
    66.66% {opacity:0;}
    75% {opacity:1;}
    91.66% {opacity:1;}
    100% {opacity:0;}
    }

@-webkit-keyframes fade {
    0% {opacity:0;}
    8.33% {opacity:1;}
    25% {opacity:1;}
    33.33% {opacity:0;}
    41.66% {opacity:1;}
    58.33% {opacity:1;}
    66.66% {opacity:0;}
    75% {opacity:1;}
    91.66% {opacity:1;}
    100% {opacity:0;}
    }

@keyframes fade {
    0% {opacity:0;}
    8.33% {opacity:1;}
    25% {opacity:1;}
    33.33% {opacity:0;}
    41.66% {opacity:1;}
    58.33% {opacity:1;}
    66.66% {opacity:0;}
    75% {opacity:1;}
    91.66% {opacity:1;}
    100% {opacity:0;}
    }

/* Style rules for footer content */

footer {
    margin-top: 5em;
}

footer p {
    font-family:'Libre Franklin', sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    color: #a500ff;
}

#footlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.row {
    display: grid;
    padding: 2px 4px;
  }
  
  /* Create two equal columns that sits next to each other */

  .column {
    padding: 0 5px;
    display: inline-grid;
    grid-template-columns: repeat(6, 15%);
    justify-content: center;
    column-gap: .5em;
  }
  
  .column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
  }

/* Tablet Viewport */

@media screen and (min-width: 630px), print {
    
    /* Tablet Viewport: Style rule for header */

    header {
        width: 100%;
        height: 250px;
        text-align: center;
    }

    /* Tablet Viewport: Style rules for nav */

    nav li {
        display: inline-block;
    }

    nav li a {
        padding: 2em 2em;
    }

    /* Tablet Viewport: Style rule for footer */

    #footlogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 5%;
    }

}

/* Desktop viewport */

@media screen and (min-width: 1015px) {

    /* Desktop Viewport: style rules for header */

    header {

        width: auto;
        height: auto;
        margin-top: 1em;
    }

    .logo {
        width: auto;
        height: auto;
        text-align: center;
    }

    /* Desktop Viewport: style rules for nav */

    nav {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

    nav ul {
        text-align: center;
    }

    /* Desktop Viewport: Style Rules for main */

    main {
        clear: left;
    }

    main h1 {
        font-size: 2em;
    }

/* Large Desktop Viewports */

@media screen and (min-width: 1921px) {

    #container {
        width: 1920px;
        margin: auto;
    }

}

/* Print Screen */

@media print {

    body {
        background-color: #fff;
        color: #000;
    }

}
