/* CSS Reset */

body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Box sizing for all elements */

* {
    box-sizing: border-box;
}

/* Mobile Viewport */



/* Style rules for header and headings */

header {
    background-color: #fff;
    margin-top: 2em;
    margin-bottom: 1em;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

h1, h2 {
    display: block;
    color: #a500ff;
    font-weight: bold;    
}
/* Style for rules for navigation */

nav ul {
    text-align: center;
}

nav li {
    font-size: 1em;
    font-family: 'Libre Franklin', sans-serif;
    list-style-type: none;
    padding: .70em;
}

nav li a {
    color: #a500ff;
}

a {
    text-decoration: none;
}

/* Style Rules for body and images */

body {
    background-color: #fff;
}

img {
    overflow: hidden;
    max-width: 100%;
    height: auto;
  }

/* Style rules for main content */

main {
    background-color:#fff;
    font-size: 1.5em;
    font-family:'Libre Franklin', sans-serif;
    text-align: center;
    justify-content: center;
}

p {
    margin-left: 1em;
    margin-right: 1em;
}

/* Style rules for classes and ID */

#musiclink {
    display: inline-grid;
    justify-content: center;
    width: 50%;
    row-gap: .50em;
}

#portal {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.row {
    display: grid;
}

.column {
    padding: 0 5px;
    display: inline-grid;
    grid-template-columns: repeat(6, 14%);
    justify-content: center;
  }
  
.column img {
    margin-top: 6px;
    vertical-align: middle;
    width: 100%;
}

.fanlink {
    size: 100%;
    display: none;
    grid-template-columns: repeat(4, 10%);
    justify-content: center;
    column-gap: .50em;
    margin-bottom: 1em;
}

.videos {
    display: inline-grid;
    justify-content: center;
    row-gap: .75em;
}

.songdesc {
    font-size: .50em;
}

/* Style rules for footer content */


footer{
    margin-top: 2em;
}
footer p {
    font-family:'Libre Franklin', sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    color: #a500ff;
}

#footlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 10%;
}

.streamcolumn {
    margin-top: 1em;
    margin-bottom: 2em;
    display: inline-grid;
    grid-template-columns: repeat(7, 6%);
    justify-content: center;
    column-gap: .75em;
}
  
.streamcolumn img {
    vertical-align: middle;
}

/* Spinning Animation */

.spin {
    -webkit-animation: fade 12s linear infinite, spin 8s linear infinite;
    -moz-animation: fade 12s linear infinite, spin 8s linear infinite;
    animation: fade 12s linear infinite, spin 8s linear infinite;
}

.fade {
    -webkit-animation: fade 12s linear infinite;
    -moz-animation: fade 12s linear infinite;
    animation: fade 12s linear infinite;
}

@-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  
@-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
@keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes fade {
    0% {opacity:0;}
    8.33% {opacity:1;}
    25% {opacity:1;}
    33.33% {opacity:0;}
    41.66% {opacity:1;}
    58.33% {opacity:1;}
    66.66% {opacity:0;}
    75% {opacity:1;}
    91.66% {opacity:1;}
    100% {opacity:0;}
    }

@-webkit-keyframes fade {
    0% {opacity:0;}
    8.33% {opacity:1;}
    25% {opacity:1;}
    33.33% {opacity:0;}
    41.66% {opacity:1;}
    58.33% {opacity:1;}
    66.66% {opacity:0;}
    75% {opacity:1;}
    91.66% {opacity:1;}
    100% {opacity:0;}
    }

@keyframes fade {
    0% {opacity:0;}
    8.33% {opacity:1;}
    25% {opacity:1;}
    33.33% {opacity:0;}
    41.66% {opacity:1;}
    58.33% {opacity:1;}
    66.66% {opacity:0;}
    75% {opacity:1;}
    91.66% {opacity:1;}
    100% {opacity:0;}
    }

/* Tablet Viewport */

@media screen and (min-width: 630px), print {
    
    /* Tablet Viewport: Style rule for header */
    
    header img {
        width: 15%;
    }

    /* Tablet Viewport: Style rules for nav */

    nav li {
        display: inline-block;
        font-size: 1.30em;
    }

    nav li a {
        padding: 1em;
    }

    /* Tablet Viewport: Style rule for footer */

    #footlogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 8%;
    }

    /* Tablet Viewport: Main Elements */

    iframe {
        width:560px;
        height:315px;
    }

    .songdesc {
        font-size: .75em;
        margin: 0;
    }

    .streamcolumn {
        display: grid;
        margin-bottom: 2em;
        margin-top: 0em;
        grid-template-columns: repeat(7, 8%);
        justify-content: center;
        column-gap: 1em;
    }

}

/* Desktop viewport */

@media screen and (min-width: 1015px) {

    /* Desktop Viewport: Header Elements */

    header {
        width: auto;
        height: auto;
        margin-bottom: 2em;
    }

    header img {
        width: 10%;
    }

    /* Desktop Viewport: Navigation Elements */

    nav {
        margin-bottom: 2em;
    }
    nav li {
        font-size: 1.50em;
        padding: 0;
    }

    nav ul {
        text-align: center;
    }

    /* Desktop Viewport: Main Elements */

    main {
        clear: left;
    }

    main h1 {
        font-size: 2em;
    }


    /* Desktop Viewport: Classes and ID */

    .column {
        padding: 0 5px;
        display: inline-grid;
        grid-template-columns: repeat(6, 15%);
        justify-content: center;
        column-gap: .5em;
    }

    .streamcolumn {
        display: grid;
        grid-template-columns: repeat(7, 2%);
        grid-gap: 1em;
        overflow: hidden;
        object-fit: cover;
        size: 100%;
      }

    .fanlink {
        display: grid;
        grid-template-columns: repeat(4, 6%);
        grid-gap: 1em;
        margin-bottom: 1em;
        margin-top: 0;
        overflow: hidden;
        object-fit: cover;
        size: 100%;
    }

    #musiclink {
        width: 30%;
    }

    iframe {
        width:560px;
        height:315px;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .songdesc {
        font-size: .75em;
    }

    #footlogo{
        width: 5%;
    }
    
}

/* Large Desktop Viewports */

@media screen and (min-width: 1921px) {

    #container {
        width: 1920px;
        margin: auto;
    }

}

/* Print Screen */

@media print {

    body {
        background-color: #fff;
        color: #000;
    }

}
